extends public_layout

block content
    h1 #{title}
    p #{message}
    div(style='margin-left:20px;margin-top:20px')
        form(method='POST', action='', novlidate)
            div.form-group
                label(for='name') Name:
                input#name.form-control(type="text", placeholder="Name", name="name", required="true")
            .form-group
                label(for="email") Email:
                input#email.form-control(type="email", placeholder="Email", name="email", required="true")
            .form-group
                label(for="password") Password:
                input#password.form-control(type="password", placeholder="Password", name="password", required="true")
            button.btn.btn-primary(type="submit") Submit             
        
